@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

ul {
  font-family: 'Bebas Neue', cursive;
  font-size: 22px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float:left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #5f2ed1;
    color:white
  
  }
  
  .active {
    background-color: #04AA6D;
  }
  .active:hover{
   color: #333;
  }
 
  a img{
      height: 70px;
      width: 70px;
  }
  #carro a{
    height: 90px;
    width: 90px;
  }
  .logo{
    background-color: #333;
    border-radius: 20px;
    height: 60px;
    width: 120px;

  }

